<div class="list-wrapper">
  <div class="list bookmark_list">
  <div id="list_title_div_<%= list.id %>">
    <ul class="list-inline categories nomargin text-muted size-11 hidden-xs text-right">
      <li><%= link_to "DELETE <i class='fa fa-minus'></i>".html_safe, list_path(list), method: :delete, remote: true, class: "text-danger", data: {confirm: "#{list.title}을 삭제합니다."} %></li>
    </ul>
    <h3 id="list_title_<%= list.id %>" class="text_hide">
      <%= list.title %>
    </h3>
  </div>

  <!-- list title edit form -->
  <%= form_for list, html: {class: "form-group edit_list_form"}, remote: true do |f| %>
    <div class="row">
      <div class="col-lg-9 col-mg-9 col-sm-12 pl-15 pr-15">
        <%= f.text_field :title, id: "edit_list_title", class: "form-control", value: list.title %>
      </div>
      <div class="col-lg-3 col-mg-3 col-sm-3 pl-15 pr-15 button-group">
        <%= f.submit "수정", class: "btn btn-info"%>
      </div>
    </div>
  <% end %>

  <% list.bookmarks.each do |bookmark| %>
    <!-- bookmark card -->
    <%= render partial: "bookmarks/bookmark_card", locals: { bookmark: bookmark } %>
  <% end %>

  <footer>
    <ul class="list-inline categories nomargin text-muted size-11 hidden-xs">
      <li><a class="text-info active_new_bookmark_form" data-toggle="modal" data-id="<%= list.id %>" href="#newBookmarkModal"> <i class='fa fa-plus'></i> ADD BOOKMARK</a></li>
    </ul>
  </footer>
</div>
</div>
<% list.bookmarks.each do |bookmark| %>
  <!-- bookmark show-->
  <%= render partial: "bookmarks/bookmark_show", locals: { bookmark: bookmark } %>
  <!-- bookmark edit-->
  <%= render partial: "bookmarks/bookmark_edit", locals: { bookmark: bookmark } %>
<% end %>

<script type="text/javascript">
  $(document).ready(function () {
    // List title 수정
    var listTitle = $("#list_title_div_<%=list.id%>");
    var editListForm = $("#edit_list_<%=list.id%>");

    listTitle.show();
    editListForm.hide();

    $("#list_title_<%=list.id%>").on('click', function () {
      listTitle.hide();
      editListForm.show();
    });

    editListForm.on('submit', function(event){
			event.preventDefault();

			$.ajax({
        url: "<%= list_path(list) %>",
				type: "PATCH",
				data: {
					list:{
						title:$("#edit_list_title").val(),
						board_id:<%= list.board_id %>
					}
				},
				success: function(){
          $("#edit_list_title").val("");
          listTitle.show();
          editListForm.hide();
			  }
			});
		});

    $(".active_new_bookmark_form").on("click", function () {
      var listId = $(this).data('id');
      $("#newBookmarkModal #bookmark_list_id").val(listId);
    });

    // form 없애기
    $(document).mouseup(function (e) {

      var listTitle = $("#list_title_div_<%=list.id%>");
      var editListForm = $("#edit_list_<%=list.id%>");

      if (editListForm.has(e.target).length === 0){
        listTitle.show();
        editListForm.hide();
      }
    });

  });
</script>
