
<div class="bookmark_list">
  <h3 id="list_<%= list.id %>" class="text_hide">
    <%= list.title %>
  </h3>

  <!-- list title edit form -->
  <%= form_for list, html: {class: "form-group edit_list_form"}, remote: true do |f| %>
    <div class="row">
      <div class="col-lg-9 col-mg-9 col-sm-12 pl-15 pr-15">
        <%= f.text_field :title, id: "editListTitle", class: "form-control", value: list.title %>
      </div>
      <div class="col-lg-3 col-mg-3 col-sm-3 pl-15 pr-15 button-group">
        <%= f.submit "수정", class: "btn btn-info"%>
      </div>
    </div>
  <% end %>

  <% list.bookmarks.each do |bookmark| %>
    <!-- bookmark card -->
    <%= render partial: "bookmarks/bookmark_card", locals: { bookmark: bookmark } %>
  <% end %>
</div>

<% list.bookmarks.each do |bookmark| %>
  <!-- bookmark show-->
  <%= render partial: "bookmarks/bookmark_show", locals: { bookmark: bookmark } %>
  <!-- bookmark edit-->
  <%= render partial: "bookmarks/bookmark_edit", locals: { bookmark: bookmark } %>
<% end %>
