<div id="bookmark_<%= bookmark.id %>" class="toggle toggle-transparent toggle-bordered-simple">
  <div class="toggle mix design mix_all" style="display: block; opacity: 1;">
    <!-- toggle -->
    <label class="size-13 noborder"><%= bookmark.title %></label>
    <span class="size-11 text-muted"><%= bookmark.created_at.to_s %></span>

    <!-- toggle content -->
    <div class="toggle-content" style="display: none;">
      <h5>
        <i class="fa fa-bookmark"></i>
        URL
      </h5>
      <p><%= bookmark.url %></p>

      <h5>
        <i class="fa fa-comment"></i>
        Description
      </h5>
      <p><%= bookmark.description %></p>

      <h5>
        <i class="fa fa-tags"></i>
        Tags</h5>

      <ul class="list-unstyled list-icons">
        <li>
          <i class="fa fa-check"></i>
          <%= bookmark.tag_1 %>
        </li>
        <li>
          <i class="fa fa-check"></i>
          <%= bookmark.tag_2 %>
        </li>
        <li>
          <i class="fa fa-check"></i>
          <%= bookmark.tag_3 %>
        </li>
      </ul>

      <div class="text-right">
        <ul class="list-inline categories nomargin text-muted size-11 hidden-xs">
          <li><%= link_to "EDIT", edit_bookmark_path(bookmark), class: "text-info" %></li>
          <li><%= link_to "DELETE", bookmark_path(bookmark), method: :delete, remote: true, class: "text-danger", data: {confirm: "#{bookmark.title}을 삭제합니다."} %></li>
        </ul>
      </div>
    </div>
    <!-- /toggle content -->

  </div>
</div><!-- /toggle -->
