<div class="container">
  <div class="col-md-9 col-sm-9">
	<h3>Edit Bookmark</h3>

    <%= form_for(@bookmark) do |f| %>
      <div class="row">
        <div class="col-md-12">
          <%= f.label :title, "Bookmark Title" %>
          <%= f.text_field :title, class: "form-control", value: @bookmark.title %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <%= f.label :url, "Bookmark Url" %>
          <%= f.text_field :url, class: "form-control", value: @bookmark.url %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 col-sm-12">
          <%= f.label :list_id, "List" %>
          <%= f.select(:list_id, options_for_select(@lists.map {|l| [l.title, l.id]}, @bookmark.list_id), {}, {class: "form-control pointer"}) %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 col-sm-12">
          <%= f.label :description, "Description" %>
          <%= f.text_area :description, size: "60x5", class: "form-control" %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 col-sm-12">
          <%= f.label :tag, "Tag" %>
        </div>
        <div class="col-md-4 col-sm-4">
          <%= f.text_field :tag_1, class: "form-control",value: @bookmark.tag_1 %>
        </div>

        <div class="col-md-4 col-sm-4">
          <%= f.text_field :tag_2, class: "form-control", placeholder: @bookmark.tag_2 %>
        </div>

        <div class="col-md-4 col-sm-4">
          <%= f.text_field :tag_3, class: "form-control", placeholder: @bookmark.tag_3 %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 text-right">
          <button type="submit" class="btn btn-primary"><i class="fa fa-check"></i> SUBMIT</button>
		</div>
      </div>
    <% end %>

	</div>

</div>
