<section>

  <div class="container">
    <div class="row">

      <div class="col-md-6 col-md-offset-3">
  			<div class="toggle toggle-transparent toggle-accordion toggle-noicon">
  				<div class="toggle">
  					<label class="size-20"><i class="fa fa-sign-in"></i> &nbsp; Sign In our Page</label>

            <div class="toggle-content" style="display: none;">
              <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "sky-form boxed"}) do |f| %>

                <fieldset class="nomargin">
                  <%= f.label :email, "E-mail", class: "label margin-top-20" %>
                  <%= f.email_field :email, class: "form-control", required: false, autofocus: true %>

                  <%= f.label :password, "Password", class: "label margin-top-20" %>
                  <%= f.password_field :password, class: "form-control", required: false %>

                  <%= f.check_box :remember_me, as: :boolean if devise_mapping.rememberable? %>
                </fieldset>

                <footer class="celarfix">
                  <%= f.submit "Log in", class: "btn btn-lg btn-primary btn-block" %>
              	</footer>
              <% end %>
  					</div>
  				</div>

  				<div class="toggle active">
  					<label class="size-20"><i class="fa fa-users"></i> &nbsp; Don't have an account yet?</label>

            <div class="toggle-content" style="display: block;">
              <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                <fieldset class="nomargin">
                  <%= f.label :email, "E-mail", class: "label margin-top-20" %>
                  <%= f.email_field :email, class: "form-control", required: false, autofocus: true %>

                  <%= f.label :password, "Password", class: "label margin-top-20" %>
                  <%= f.password_field :password, class: "form-control", required: false %>

                  <%= f.label :password_confirmation, "Password Confirmation", class: "label margin-top-20" %>
                  <%= f.password_field :password_confirmation, class: "form-control", required: false %>
                </fieldset>

                <footer class="celarfix">
                  <%= f.submit "sign up", class: "btn btn-lg btn-primary btn-block" %>
                </footer>
              <% end %>
  					</div>

  				</div>

  			</div>
  		</div>

    </div>
  </div>

</section>
