<section style="height: 100%">

  <div class="container">
    <div class="row">

      <div class="col-xs-12 col-sm-5 col-md-5 col-lg-4 col-md-push-7 col-lg-push-8 col-sm-push-7">

  			<!-- login form -->
        <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "sky-form boxed"}) do |f| %>
          <header><i class="fa fa-users"></i> Sign In</header>

          <fieldset class="nomargin">
            <%= f.label :email, "E-mail", class: "label margin-top-20" %>
            <label class="input">
							<i class="ico-append fa fa-envelope"></i>
							<%= f.email_field :email, class: "form-control", required: true, autofocus: true %>
							<span class="tooltip tooltip-top-right">Email Address</span>
						</label>

            <%= f.label :password, "Password", class: "label margin-top-20" %>
            <label class="input">
							<i class="ico-append fa fa-lock"></i>
							<%= f.password_field :password, class: "form-control", required: true %>
							<b class="tooltip tooltip-top-right">Type your Password</b>
						</label>

            <div class="margin-top-20">
  						<%= link_to t(".sign_up"), new_registration_path(resource_name) %>
            </div>

          </fieldset>

          <footer class="celarfix">
            <%= f.submit "LOG IN", class: "btn btn-primary noradius pull-right" %>
          </footer>
        <% end %>
  		</div>

   </div>
  </div>

</section>
