<section class="page-header page-header-xs">
	<div class="container">

		<div id="create_board" class="row pull-right">
			<div class="col-lg-2 col-md-3 col-sm-4 pull-right">
				<button id="create_button" class="btn btn-outline-default text-center"><i class="fa fa-plus"></i></button>
			</div>
		</div>

		<%= form_for @board, html: {class: "nomargin"}, remote: true do |f| %>
			<div class="row">
				<div class="col-lg-6 col-mg-6 col-sm-12 pl-15 pr-15">
					<%= f.text_field :title, class: "form-control", placeholder: "Board 이름을 입력해 주세요" %>
					<%= f.hidden_field :user_id, value: current_user.id %>
				</div>

				<div class="col-lg-3 col-mg-3 col-sm-12 pl-15 pr-15 button-group">
					<%= f.submit "만들기", class: "btn btn-primary"%>
				</div>
			</div>
	  <% end %>

	</div>
</section>

</section>

<section id="star">
	<div class="container">
		<h3 class="lead"><i class="fa fa-star-o"></i> Starred Boards </h3>

		<% @boards.each do |board| %>
			<div class="col-lg-3 col-md-4 col-sm-6">
				<div class="thumbnail">
					<div class="caption">
						<h4 class="nomargin board_title"> <%= link_to board.title, board_path(board) %> </h4>
						<small class="margin-bottom-20 block"><i class="fa fa-clock-o"></i> <%= board.created_at.to_s(:short) %> </small>
					</div>
				</div>
			</div>
		<% end %>
	</div>
</section>

<section id="basic">
	<div class="container">
		<h3 class="lead"><i class="fa fa-pencil-square-o"></i> Your Boards </h3>

		<div id="basic_boards" class="row">
			<% @boards.each do |board| %>
				<div class="col-lg-3 col-md-4 col-sm-6">
					<div class="thumbnail">
						<div class="caption">
							<h4 class="nomargin board_title"> <%= link_to board.title, board_path(board) %> </h4>
							<small class="margin-bottom-20 block"> <%= board.created_at.to_s(:short) %> </small>
						</div>
					</div>
				</div>
			<% end %>
		</div>

	</div>
</section>

<script type="text/javascript">
	$(document).ready(function(){
		// Board create부분
		var createButton = $('#create_button');
		var newBoardForm = $('#new_board');

		createButton.show();
		newBoardForm.hide();

		console.log(101);

		createButton.on('click', function() {
			createButton.hide();
			newBoardForm.show();
			console.log(104);
		});

	});
</script>
