<section class="page-header page-header-xs">
  <div class="pl-15 pr-15">
    <h4 class="center"> <%= @board.title%> </h4>
  </div>
</section>

<div class="box-light">
  <div class="row">
    <% @lists.each do |list| %>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="box-inner">
          <h3>
            <%= list.title %>
          </h3>
          <div class="slimscroll" data-always-visible="true" data-size="5px" data-position="right" data-opacity="0.4" disable-body-scroll="true">
            <% list.bookmarks.each do |bookmark| %>
              <div class="clearfix margin-bottom-10"><!-- post item -->
                <img class="thumbnail pull-left" src="<%= asset_path 'noimg.jpg' %>" width="60" height="60" alt="" />
                <h4 class="size-13 nomargin noborder nopadding"><a href="blog-single-default.html"><%= bookmark.title %></a></h4>
                <span class="size-11 text-muted"><%= bookmark.created_at.to_s %></span>
              </div><!-- /post item -->
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
