<div>

  <section class="page-header page-header-xs">
    <div class="container">
      <div id="board_title_div">
        <div class="row">
          <div class="col-lg-10 col-mg-10 col-sm-12 col-xs-12">
            <h3 id="board_title" class="nomargin">
              <%= @board.title %>
            </h4>
          </div>

          <div class="col-lg-offset-1 col-lg-1 col-mg-2 col-sm-12 col-xs-12 text-right">
            <button id="active_new_list_form" class="btn btn-info btn-block"><i class='fa fa-plus'></i></button>
            <button id="deactive_new_list_form" class="btn btn-info btn-block"><i class='fa fa-minus'></i></button>
          </div>
        </div>
      </div>

      <div class="col-lg-offset-2 col-lg-8 col-mg-12 col-sm-12 col-xs-12">
        <!-- board title edit form -->
        <%= form_for @board, html: {class: "row"}, remote: true do |f| %>
          <div class="col-lg-10 col-mg-10 col-sm-10 col-xs-12">
            <%= f.text_field :title, id: "editBoardTitle", class: "form-control", value: @board.title %>
          </div>
          <div class="col-lg-2 col-mg-1 col-sm-2 col-xs-12 button-group text-right">
            <%= f.submit "수정", class: "btn btn-primary btn-block"%>
          </div>
        <% end %>
      </div>

      <div class="col-lg-offset-2 col-lg-8 col-mg-12 col-sm-12 col-xs-12">
        <!-- list create form -->
        <form id="new_list" class="row pl-15 pr-15">
          <div class="col-lg-10 col-mg-10 col-sm-10 col-xs-12">
            <input type="text" id="new_list_title" class="form-control" placeholder="List 이름을 입력해 주세요"/>
            <input type="hidden" id="board_id"  value="<%= @board.id %>"/>
          </div>

          <div class="col-lg-2 col-mg-1 col-sm-2 col-xs-12 button-group text-right">
            <input type="submit" id="create_button" class="btn btn-primary btn-block" value="만들기"/>
          </div>
        </form>
      </div>
    </div>
  </section>

  <!-- create bookmark-->
  <%= render partial: "bookmarks/bookmark_new_url", locals: { lists: @lists, bookmark: @bookmark } %>

  <!-- show lists & bookmarks-->
  <div class="board-canvas">
    <% @lists.each do |list| %>
      <!-- list show -->
      <%= render partial: "lists/list_show", locals: { list: list } %>
    <% end %>
  </div>

</div>

<script type="text/javascript">
  $(document).ready(function () {
    // Board title 수정 부분
    var boardTitle = $('#board_title_div');
    var editBoardForm = $('#edit_board_' + <%= @board.id %>);

    boardTitle.show();
    editBoardForm.hide();

    console.log(101);

    $('#board_title').on('click', function () {
      boardTitle.hide();
      editBoardForm.show();
      console.log(104);
    });

    // List create부분
		var activeList = $('#active_new_list_form');
    var deactiveList = $('#deactive_new_list_form');
		var newListForm = $('#new_list');

		activeList.show();
    deactiveList.hide();
		newListForm.hide();

		console.log(101);

		activeList.on('click', function() {
			activeList.hide();
      deactiveList.show();
			newListForm.show();
		});

    deactiveList.on('click', function() {
			activeList.show();
      deactiveList.hide();
			newListForm.hide();
		});

		newListForm.on('submit', function(event){
			event.preventDefault();

			$.ajax({url: "<%= lists_path(@list) %>",
				type: "POST",
				data: {
					list:{
						title:$("#new_list_title").val(),
						board_id:$("#board_id").val()
					}
				}
			});
		});

    // form 없애기
    $(document).mouseup(function (e) {

      var boardTitle = $('#board_title_div');
      var editBoardForm = $('#edit_board_' + <%= @board.id %>);

      if (editBoardForm.has(e.target).length === 0){
        boardTitle.show();
        editBoardForm.hide();
      }
    });

  });
</script>
